#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#titleWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom:40px;
    padding: 10px;
    background-color:#0dcaf0;
    font-family: 'Carme', sans-serif;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    font-family: 'Carme', sans-serif;
}

.exampleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin: 25px;
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.title1 {
    color: black;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.formWrapper {
    width: 50%;

}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.descriptionWrapper {
    font-size: 1rem;
    font-weight: bolder;
    display: flex;
    width: 50%;
    justify-content: center;
}

.buttonsWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 95%;
}

#resultPar {
    margin-top: 15px;
    padding: 35px;
}

.methodsWrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 65%;
    margin: 25px;
    padding: 35px;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.methodsList li {
    margin: 5px;
}
a {
    color:#0dcaf0 !important;
    text-decoration: none !important;

}
